<div class="container" id="home-container">
  <div class="container">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active jumbotron-one text-center text-white">
          <h1 class="display-4">Rep Life Entertainment</h1>
          <hr class="my-4">
          <%= link_to "Sign up!", signup_path, class: "btn btn-success btn-lg" %>
        </div>
        <div class="carousel-item jumbotron-two">
        </div>
      </div>
    </div>
  </div>
    
    <div class="p-3 mb-2 bg-light text-dark">
      <p class="text-center paragraph-font">
        Welcome to the Rep Life community.  You source for positive urban entertainment.
      </p>
    </div>
</div>

<div class="container">
        <div class="row justify-content-md-center">
          <% @categories.each do |category| %>
            <div class="col-6 mt-4">
              <div class="card text-center shadow mb-5 bg-white rounded">
                <div class="card-body">
                    <h5 class="card-title"><%= link_to category.name, category_path(category), class: "text-success" %></h5>
                    <p class="card-text"><%= pluralize(category.articles.count, "article") %></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
</div>