<footer id="sticky-footer" class="py-4 bg-dark text-white">
    <div class="container text-center">
        <small>Copyright &copy; <%= link_to "Jahmaul Holmes", "https://github.com/jholmes16/alpha-blog", class: "text-white" %></small>
    </div>
</footer>